html, body, * {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

#image {
    width: 350px;
    height: 350px;
    border: .5rem solid brown;
}

.cards {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    
}

.card {
    margin: 7rem;
    max-width: 100rem;
    border: .5rem solid brown;
    box-shadow:-5px 10px 20px brown;
    color: red; 
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#text {
    font-size: 2rem;
    text-align: center;
}

body {
    background-color: #ffd700;
}

#card1{
    opacity: 1;
}

#card1:hover {
    opacity: 0;
}

#card2:hover {
    border: 1.2rem solid brown;
}

#card3:hover {
    border-color: pink;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#card5:hover {
    transform: rotate(3deg); 
    transform: rotate(0.3rad);
    transform: rotate(3grad);  
    transform: rotate(.03turn);
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

#card4:hover {
    transform: scale(1.5,1.5);
}

#card6:hover {
    transform: scale(0.5,0.5);
}

@media all and (max-width: 400px) {
    .card {
        background-color: blue;
    }
}

@media all and (min-width: 401px) {
    .card {
        background-color: pink;
    }
}

@media all and (min-width: 769px) {
    .card {
        background-color: aqua;
    }
}

@media all and (min-width: 1025px) {
    .card {
        background-color: yellow;
    }
}