html, body, * {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.image {
    width: 350px;
    height: 350px;

}

.parent {
    display: flex;
    flex-wrap: wrap;
}